<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>twitter</title>
    <<meta name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no'>
    <title>twitter</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <br><br><br><br>
    <h2 align="center" sytle=" color: blue"> twitter clone</h2>
    <div class = "container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class=" form-group">
                <legend class="border-bottom mb-4"> Login</legend>
                {{form}}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type="submit">Login</button>
            </div>
            <a href="{% url 'register' %}"><p>Create a new account</p></a>
            
            

        </form>
    </div>
    {%if messages%}
        {%for messages in messages%}
            {{messages}}
        {%endfor%}
    {%endif%}

</body>
</html>