{% extends 'feed/base.html'%}

{%block content%}
    <br> <br>
    <div class = 'container'></div>
        {% for tweet in tweets %}

            <br> <br>
            <a href="#"><h3>{{tweet.name}}</h3> </a> 
            <div class="card">
                <div class="card-header">
                    <p> {{tweet.name}}</p>
                </div>
                <div class="card-body">
                  <p class="card-text">{{tweet.text}}</p>
                </div>
              </div>
        {% endfor %}

{%endblock content%}